<div id="about">
    <div class="ui container wide padded part1">
        <div class="inset">
            <h3 class="about1">About me</h3>
            <p class="about2 lead">Hi. I'm John Vaughan, a digital creative based in Newcastle, Australia.
                <br>I currently work as Creative Director and Lead Developer for a boutique full service brand agency and occasionally take on freelance projects.</p>
<a href="#part2" scrollTo><i class="long arrow down icon" style="color:black;"></i></a>
        </div>
    </div>
</div>
<div class="ui container wide padded part2" id="part2">
    <div class="inset">
            <p class="light ">I've always liked creating things, whether it's visual, code or musical. Something that I can be proud of and ideally helps people. I'm lucky enough to have created a career pursuing this passion. </p>
            <p class="light ">In any given day I can jump from brainstorming brand strategy to sketching a new character concept, through coding a module or writing unit tests. That's one varied day. </p>
            <p class="light ">With a degree in Art Theory and Digital Media, I've had 5 years working as a graphic designer in corporate design studios, 6 years working as a hands on Creative Director for a full service agency and 12 years concurrent digital freelance experience working across a range of graphic and digital projects. On a daily basis I use Adobe suite, HTML, CSS, SCSS, Javascript, Wordpress, PHP, SQL. I'm also familiar with several other CMS's, Node, Python, Typescript, @angular, RethinkDB, MongoDB, LESS, Webpack. I'm a big fan of lodash and had limited experience with Pug and Backbone. I'm learning React. I could dust off my Actionscript and even Lingo skills if needed.</p>
        <p class="light ">I like guitars. I like painting. I like beautiful code. I love Manchester United. When I'm not working as Creative Director for <a href="http://www.thurnhamteece.com.au/" target="_blank">Thurnham Teece</a> or playing guitar in the <a href="https://www.facebook.com/frenchmanstreetjazzband/" target="_blank">Frenchman Street Jazz Band</a>, I'm developing <a href="https://johnpaulvaughan.github.io/layla/" target="_blank">Layla</a> - a music app that helps you listen to better music and support the musicians of tomorrow. It's written in @angular with a node server and a RethinkDB connection pushing realtime streams to clients via socketio. </p>
    </div>
</div>
