<div class="ui container wide">
<div class="ui stackable grid">
<div class="row">
    <div class="ten wide column indent" [innerHTML]='project.detail.intro.blurb'></div>

    <div class="five wide column right floated info inset">
      <span class="label">Client</span> <span class="info">{{project.overview.client}}</span>
      <span class="label">Agency</span> <span class="info">{{project.overview.agency}}</span>
      <span class="label">My Role</span> <span class="info">{{project.overview.role}}</span>

</div>
</div>
</div>