@import "../../../scss/variables";
$indent:3rem;
:host {
    background-color: #000;
    div#contact {

        display: block;
        background-color: #000;
        h1,h2,h3,h4,h5,p {
            color:white !important;
        }
        p.contact1 {
            color: white !important;
            text-transform: uppercase;
            text-align: left;
            font-size: 75%;
            letter-spacing: 0.5em;
            font-weight: 400;
            margin-bottom: 5rem;
        }
        i.long.arrow.down {
            padding-left: 0rem !important;
        }
    }
    div.inset {
        padding-left: $text-indent;
        width: 60%;
    }
    div.padded {
        padding-top: 15rem;
        padding-bottom: 15rem;
        @media #{$max-width-sm} {
        padding-top: 7.5rem;
        padding-bottom: 4rem;
        }
    }
    p.loose {
        margin-top: 5rem;
    }
}
